* {
  margin: 0;
  padding: 0;
  background-color: #ebf4ff;
}
.heading {
  background-color: #083664;
  color: floralwhite;
  text-align: center;
  padding: 10px;
}
.elements {
  margin: 40px 80px;
  color: #0b1116;
}
.mode {
  display: flex;
  font-size: larger;
}
.rbn {
  margin: 3px 20px;
  font-size: larger;
}
.rbn > input {
  margin: 0 10px;
  cursor: pointer;
}
.rbn > label {
  margin-right: 30px;
  cursor: pointer;
}
.main-div {
  margin-top: 40px;
  display: flex;
  height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  flex: 0.9;
  padding-right: 50px;
}
textarea {
  background-color: white;
  font-size: x-large;
  padding: 10px;
}
.translation {
  margin: 30px 0 20px 0;
  font-size: x-large;
  font-weight: bolder;
}
.character {
  margin: auto;
}
.character > h2 {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
}

#table td {
  padding: 8px;
  background-color: #b7dafd;
}

#table tr:nth-child(even) {
}
